<nav class="navBar">
    <ul>
        {{#each navItems}}
        <li><a href="#page{{@index}}">{{this}}</a></li>
        {{/each}}
        {{#if name}}
        <div>Привет {{name}}!</div>
        {{/if}}
    </ul>
</nav>
{{#each pageContent}}
<div id="page{{@index}}" class="content" style="background-color: {{bgColor}};">
    <h2>{{title}}</h2>
    <div>{{description}}</div>
</div>
{{/each}}
<div id="modal" {{#if name}} style="display: none;" {{/if}}>
    <div>
        <h3>Чтобы продолжить, авторизуйтесь</h3>
        <input id="nameInput" class="dateSaveInput" placeholder="Введите свое имя" autocomplete="off" />
        <button id="saveUser">Сохранить</button>
    </div>
</div>